<!-- <!-- 
    WITHOUT LOGIN NAVBAR STARTED
 <!-- -->
 <!-- <nav class="nav-bar">
    <div class="logo">
        <h1>
            <a href="/">
            My Watch List
        </a>
    </h1>
    </div>
    <ul class="links">
        <li><a href="/discover">Discover</a></li>
        <li><a href="/trending">Trending</a></li>
        <li><a href=""  id="searchIcon">Search</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/list/guest">Guest</a></li>
    </ul>
    <div id="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>
<div class="mob-nav" id="mob-nav">
    <ul class="links">
        <li><a href="/discover">Discover</a></li>
        <li><a href="/trending">Trending</a></li>
        <li><a href="" id="mobSearchIcon">Search</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/list/guest">Guest</a></li>
    </ul>
</div>

<section class="search-section" id="search-section">
    <form action="/search" autocomplete="off" method="POST">
        <input type="text"  name="query" id="query" placeholder="Enter Text" autofocus>
        <input type="submit" value="ðŸ”">
    </form>
    <button class="close-btn" id="close-btn">Close</button>
</section> -->
<nav class="nav-bar">
    <div class="logo">
        <h1>
            <a href="/">
                MoviePedia
        </a>
    </h1>
    </div>
    <ul class="links">
        <li><a href="/discover">Discover</a></li>
        <li><a href="/trending">Trending</a></li>
        <li><a href=""  id="searchIcon">Search</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <!-- <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li> -->
    </ul>
    <div id="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>
<div class="mob-nav" id="mob-nav">
    <ul class="links">
        <li><a href="/discover">Discover</a></li>
        <li><a href="/trending">Trending</a></li>
        <li><a href="" id="mobSearchIcon">Search</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <!-- <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li> -->
    </ul>
</div>

<section class="search-section" id="search-section">
    <form action="/search" autocomplete="off" method="POST">
        <input type="text"  name="query" id="query" placeholder="Enter Text" autofocus>
        <input type="submit" value="ðŸ”">
    </form>
    <button class="close-btn" id="close-btn">Close</button>
</section>
 <!-- 
    WITHOUT LOGIN NAVBAR ENDED
 -->

<!-- -------------------------------------------------------------- -->

 <!-- 
    WITH LOGIN NAVBAR STARTED
 -->

 <!-- 

     <nav class="nav-bar">
    <div class="logo">
        <h1>My Watch List</h1>
    </div>
    <ul class="links">
        <li><a href="/discover">Discover</a></li>
        <li><a href="/trending">Trending</a></li>
        <li><a href=""  id="searchIcon">Search</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/watchlist">Watchlist</a></li>
    </ul>
    <div id="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>
<div class="mob-nav" id="mob-nav">
    <ul class="links">
        <li><a href="/discover">Discover</a></li>
        <li><a href="/trending">Trending</a></li>
        <li><a href="" id="mobSearchIcon">Search</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/watchlist">Watchlist</a></li>
    </ul>
</div>

<section class="search-section" id="search-section">
    <form action="">
        <input type="text" name="" id="" placeholder="Enter Text">
        <input type="submit" value="ðŸ”">
        <button class="close-btn" id="close-btn">Close</button>
    </form>
</section>
  -->

 <!-- 
    WITH LOGIN NAVBAR ENDED
 -->