<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoviePedia - Signup</title>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <style>
        .container .card:after {
    content: "Loki";
        }

        .container .card{
            background-image: url('./assets/images/loki.jpg');
            transition: 1s ease-in-out all;
        }

        .container .card:hover{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./assets/images/loki.jpg');
            
        }

        input[type='submit'], button{
            border: 1px solid #ABB2BF;
            padding: .5rem 1rem;
            border-radius: 12px;
        }

        main.form div{
    padding: 1rem 1rem;
    text-align: center;
        }

        a{
            color: currentColor;
        }
    </style>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <main class="form">

        <div>
            <h1>SIGN UP</h1>
                <h2>😄 Connect With Us 😄</h2>
            <form action="" autocomplete="off" >
                <input type="email" name="email" id="email" placeholder="Enter Your Mail Id"> <br>
                <input type="password" name="pwd" id="pwd" placeholder="Enter Your Password"> <br>
                <input type="password" name="repwd" id="pwd" placeholder="Confirm Your Password"> <br>
            
                <input type="submit" value="Log In">
            </form>
            <a href="/guest/signup">
            <button class="gotoguest">
                Guest Mode
            </button>
        </a>
            <a href="/guest/info">
                What is Guest Mode
            </a>
</div>
    </main>


    <script src="/assets/js/navbar.js" defer></script>
</body>
</html>